.general{
    background-color: whitesmoke;
    margin: 10px;
    padding: 3px;
    border: 1px solid;
    border-color: darkgray;
    border-radius: 8px;
}

.idNumber{
    margin-left: 10px;
}

.text{
    color: darkgray;
    height: 2px;
}

.editButton{
    margin-right: 22px;
}

.spaceIcon {
    margin-right: 12px;
}


